@charset "utf-8";
/* CSS Document */


body{background-color:black;}
*{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:black;margin:0 auto;}


.column{width:480px;float:left}
#container {
	background-color: white;
	height: auto;
	width: 1024px;
	margin-left: auto;
	margin-right:auto;
	position:relative;
}
#header{
	border-top:6px solid white;
	height: 200px;
	border-bottom: 2px solid black;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#intro {
	background-color:#FFF;
	width: 248px;
	height: 235px;
	left:50%;
	top:50%;
	margin: -124px 0px 0px -117px;
	position:absolute;
}

#logo {
	background-image: url(../img/milimesLogo.png);
	background-repeat:none;
	height: 114px;
	width: 324px;
	margin-left:308px;
	
}
#here{
	background-color:white;
	color:black;
	font-size:24px;	
	}
#navigatie {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
	text-align:center;
}

#navigatie ul {
	background-color:#000;
    margin-left: auto;
    margin-right: auto;
	position: relative;
    text-align: center;
    width: 100%;
	border:1px solid black;
}

#navigatie ul li{
	display:inline-block;
	list-style:none;
	color:#000;
}

#navigatie ul li a:link {
    color:#FFF;
	display: block;
    font-size: 24px;
    list-style: none outside none;
    text-decoration: none;
}
#navigatie ul li a:visited{
	color:#FFF;
	list-style:none;
}
#navigatie ul li a:hover{color:#CCC;
}
#navigatie ul li a:active{color:#FFF;
}
#content{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:960px;
}
#content h1 {
		font-size:24px ;
		color:#000;
		padding-top:30px;
		padding-left:66px;
		
}

#eersteTekst{
	width:280px;
	height:300px;
	border: 1px solid #000;
	margin-left:50px;
	margin-top:12px;
}
#gigatools{
	width:280px;
	height:300px;
	border: 1px solid #000;
	margin-top:12px;
	margin-left:140px;

}
#nieuws{
	width:280px;
	height:300px;
	border: 1px solid #000;
	margin-left:50px;
	margin-top:12px;

}
#nextEvent{
	width:280px;
	height:300px;
	border: 1px solid #000;
	margin-top:12px;
	margin-right:-50px;
	margin-left:140px;

}
#footer{
	color: white;
	background-color: #000;
	height: 60px;
	width: 900px;
	margin-top: 755px;
	margin-bottom: 0px;
	margin-left: 30px;
	text-align: center;
	vertical-align: middle;	

}
#footer p{
	margin-top:16px;	
	}
